// Обнуление
@import "null_style.scss";
// Миксины
@import "mixins.scss";
// Полезные настройки
@import "ui.scss";
// Подключаем шрифты

// Шрифты по умолчанию
$fontfamily: "";
// Переменные

// Общие параметры
body {
  font-family: $fontfamily;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(20, 20, 20);
}
// Оболочка
.wrapper {
}
// Основная сетка
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  box-shadow: 0 0 7px 1px rgb(0, 255, 242);
}
// Подключение файлов стилей, страниц и элементов
@import "footer.scss";
@import "header.scss";
// Основной блок
.square {
  width: 16px;
  height: 16px;
  background-color: rgb(29, 29, 29);
  margin: 2px;
  box-shadow: 0 0 1px 1px black;
  transition: all 2s ease;
  &:hover {
    transition-duration: 0s;
  }
}
